# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Sensitive / local files
*.zip
*.pem
*.key
*.log

# Python virtual env
ansible-env/
venv/
__pycache__/
